<!DOCTYPE html>
<html>
<head>
    <!-- scripts -->
    <script src='gui/js/jquery.min.js'></script>   
    <script src='gui/js//angular.min.js' /></script>
    <script src='gui/js/bootstrap.min.js' /></script>
    <script src='gui/js/pzk_module.js'></script>
    <script src='gui/js/BasicController.js'></script>

    <!-- csses -->
    <link rel="stylesheet" href='gui/css/bootstrap.min.css' />

    <!-- Configurations and meta -->
    <!-- This line adds support for mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body ng-app="angularApp">
	<h1>PTIRs: A simple task management tool by Pzk</h1><br />

    <br />
    <div ng-controller="BasicController">
        <input type="checkbox" ng-model="open" />OPEN 
        <input type="checkbox" ng-model="inProgress" />IN PROGRESS  
<!--         <input type="checkbox" ng-model="others"/> ALL  -->
        <div class="lst">
            <table class="table-striped lst">
                    <tr class="row">
                        <th class="col-sm-1">PtirId</th>
                        <th class="col-sm-2">Reporter</th>
                        <th class="col-sm-2">Assignee</th>
                        <th class="col-sm-1">Severity</th>
                        <th class="col-sm-2">Status</th>
                        <th class="col-sm-3">Description</th>
                    </tr>
                    <tr ng-repeat="ptir in ptirs" class="row">
                        <td class="col-sm-1"> {{ptir.ptirId}} </td>
                        <td class="col-sm-2"> {{ptir.reporter}} </td>
                        <td class="col-sm-2"> {{ptir.assignee}} </td>
                        <td class="col-sm-1"> {{ptir.severity}} </td>
                        <td class="col-sm-2"> {{ptir.status}} </td>
                        <td class="col-sm-3"> {{ptir.description}} </td>
                    </tr>
            </table>
            <div ng-click="showModel()"> Add or Update PTIR </div>
            <div ng-click="reload()"> Refresh </div>
            <div>
                    Keyphrase: <input type="password" ng-model="keyphrase" /> 
                </div>
            <!-- <div ng-click="showModel('change')"> Update PTIR </div> -->
            <!-- <input type="text" placeholder="PTIR Id" ng-model="currPtirId" /> -->
        </div>
        <div>
            <hr />
                <a href="user_mgmt.html">Add New User</a>
            <hr />
        </div>
        <div class="modala">
            <!-- <i class="close icon"></i> -->
            <!-- <div class="header"> </div> -->
                <!-- <div> -->
                    <form>
                        <table> <!-- class="ui basic table" -->
                            <tr> <td>Reporter</td> <td> <input type="text" ng-model="ptir.reporter" placeholder="Reporter" required /> </td> </tr>
                            <tr> <td>Assignee</td> <td> <input type="text" ng-model="ptir.assignee" placeholder="Assignee" required /> </td> </tr>
                            <tr> <td>Severity</td> <td> <input type="text" ng-model="ptir.severity" placeholder="Severity" required /> </td> </tr>
                            <tr> <td>Status</td> <td> <input type="text" ng-model="ptir.status" placeholder="Status" /> </td> </tr>
                            <tr> <td>Description</td> <td> <input type="text" ng-model="ptir.description" placeholder="Description" required /> </td> </tr>
                        </table>
                    </form>
                <!-- </div> -->
            <div class="actions">
                <div ng-click="save()"> Save <i class="checkmark icon"></i> </div>
                <div ng-click="save('change')"> Load Data <i class="checkmark icon"></i> </div>
                <input type="text" placeholder="PTIR ID" ng-model="currPtirId" />
                <div ng-click="update()"> Update <i class="checkmark icon"></i> </div>
                <!-- <div>
                    Keyphrase: <input type="text" ng-model="keyphrasee" /> 
                </div> -->
            </div>
        </div>
    </div>
</body>
</html>
